.box {
	float:left;
	width:30%;
	margin:5px;
    padding:5px;
}

#game-header{
    color:#d70047;
    font-weight:600;
}

.rpg-column {
    padding:3px;
    
}


#startArea a {
    border:2px solid black;
    background-color:#f3f7bf;
    max-width: 75px;

}

#waitingArea a {
    border:2px solid gray;
    background-color:#f3f7bf;
}


#attackerArea a {
    border:2px solid green;
    background-color:#70c2be;

}

#defenderArea a {
    border:2px solid red;
    background-color:#d70047;

}

.rpg-column {
    background-color: #5ee0b4;
}

.header {
    display:inline-block;
    float:left;
    margin-left:100px;
}



/*#first-row{
	margin-top:5%;
}*/

body, html {
    height: 100%;
    font-family:'cabin',sans-serif;
    font-weight: 600;
}

.bg { 
    background-image: url(../images/bg.jpg);
    height: 100%; 
    background-position-y: top;
    background-repeat: no-repeat;
    background-size: cover;
}

#tyler-image, #bob-image, #marla-image, #edward-image {
    width:100%;
    height:auto;

}